{% extends 'base.html' %}

{% block header %}

  {# <h1>{% block title %}News{% endblock %}</h1>#}

{# {% if (last_update) %}
 <p style="text-align:right;float:right; padding-right:10px;">Last update: {{last_update}}</p>
{% endif %}#}

{% endblock %}

{% block content %}

{% if g.user %}
<ul>
  <li><a class="action" href="{{ url_for('crawl_now.update') }}">Update</a></li>
  <li><a class="action" href="{{ url_for('crawl_now.twitter') }}">Twitter</a></li>
  <li><a class="action" href="{{ url_for('crawl_now.feedly') }}">Feedley</a></li>
</ul>
{% endif %}

{% endblock %}
