{% block header %}
<h1 id="header1">{% block title %}Feedly{% endblock %}</h1>
</header>

<body onload="filterSelection('all')">
  <a class="text">Filter by Label: </a>

  <style>
    .filterDiv {
      text-align: left;
      margin: 2px;
      display: none;
    }

    .show {
      display: block;
    }

    .container {
      margin-top: 20px;
      overflow: hidden;
    }

    /* Style the buttons */

    .btn {
      border: none;
      outline: none;
      padding: 12px 16px;
      background-color: #f1f1f1;
      cursor: pointer;
    }

    .btn:hover {
      background-color: #ddd;
    }

    .btn.active {
      background-color: #666;
      color: white;
    }
  </style>

  <div id="myBtnContainer">
    <button class="btn active" onclick="filterSelection('all')">All</button>
    {% for categorie in categories %}
      <button class="btn" onclick="filterSelection('{{categorie}}')">{{categorie}}</button>
    {% endfor %}
  </div>

  <script type="text/javascript">
    filterSelection("all")

    function filterSelection(c) {
      var x, i;
      x = document.getElementsByClassName("filterDiv");
      if (c == "all") c = "";
      // Add the "show" class (display:block) to the filtered elements, and remove the "show" class from the elements that are not selected
      for (i = 0; i < x.length; i++) {
        w3RemoveClass(x[i], "show");
        if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
      }
    }

    // Show filtered elements
    function w3AddClass(element, name) {
      var i, arr1, arr2;
      arr1 = element.className.split(" ");
      arr2 = name.split(" ");
      for (i = 0; i < arr2.length; i++) {
        if (arr1.indexOf(arr2[i]) == -1) {
          element.className += " " + arr2[i];
        }
      }
    }

    // Hide elements that are not selected
    function w3RemoveClass(element, name) {
      var i, arr1, arr2;
      arr1 = element.className.split(" ");
      arr2 = name.split(" ");
      for (i = 0; i < arr2.length; i++) {
        while (arr1.indexOf(arr2[i]) > -1) {
          arr1.splice(arr1.indexOf(arr2[i]), 1);
        }
      }
      element.className = arr1.join(" ");
    }

    // Add active class to the current control button (highlight it)
    var btnContainer = document.getElementById("myBtnContainer");
    var btns = btnContainer.getElementsByClassName("btn");
    for (var i = 0; i < btns.length; i++) {
      btns[i].addEventListener("click", function() {
        var current = document.getElementsByClassName("active");
        current[0].className = current[0].className.replace(" active", "");
        this.className += " active";
      });
    }
  </script>
</body>


{% for post in posts %}
<div id="myNews" class="filterDiv {{post.categories[0].label}}">
  <h3 style="text-align:left;float:left;">{{post.origin.title}} / </h3>
  <h3 style="text-align:left;float:left;">
        {{post.categories[0].label}}:
    </h3>
  <h3 style="text-align:right;float:right; padding-right:10px;">({{post.published}}) </h3>
  <hr style="clear:both;" />

  <div style="width:100%; height: 150px; background-color: Gainsboro;">
    <div class="cellContainer">
      <div style="margin: 5px;"></div>
      "{{post.title}}" {{post.author}} <br /><br />
      <a href="{{post.originId}}">{{post.originId}}</a><br /><br /> {{post.keywords}}
    </div>
  </div>
</div>

{% endfor %} {% endblock %}
