{% block header %}
  <h1>{% block title %}Twitter{% endblock %}</h1>
{% endblock %}

{% block content %}
  </header>
   <p>Number of Tweets: {{posts|length}}</p>
  {% for post in posts %}
  <div class="post">
    <h3>{{post.user.name}} : ({{post.created_at}})</h3>
        <div style="width:100%; height: 120px; background-color: Gainsboro;">
          <div class="cellContainer">
            <div style="margin: 5px;"></div>
            {{post.text}} <br /><br />
            RT : {{post.retweet_count}}<br />
            Like : {{post.favorite_count}}
          </div>
        </div>
  </div>

  {% endfor %}
{% endblock %}
